version: '3.5'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: metabolic-syndrome-backoffice
    container_name: metabolic-syndrome-backoffice
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=${NODE_ENV:-development}
    env_file:
      - .env.development
    restart: always
