@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
} */
root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  /* @font-face {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap')
      format('woff');
    font-weight: 300;
    font-style: normal;
  } */

  .cursor-newtab {
    cursor: url('/assets/images/new-tab.png') 10 10, pointer;
  }

  html {
    font-family: var(--font-ibm);
  }
  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-ibm text-3xl font-bold md:text-4xl lg:text-5xl;
  }

  h1,
  .h1 {
    @apply font-ibm text-xl font-medium md:text-2xl xl:text-3xl 2xl:text-4xl;
  }

  h2,
  .h2 {
    @apply font-ibm text-xl font-medium md:text-2xl xl:text-3xl;
  }

  h3,
  .h3 {
    @apply font-ibm text-lg font-medium md:text-xl xl:text-2xl;
  }

  h4,
  .h4 {
    @apply font-ibm text-base font-medium md:text-lg;
  }

  body,
  .p {
    @apply font-ibm text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

/* TitTap Editor Design */
@layer components {
  .ProseMirror {
    @apply rounded-lg border-[1px] border-[#C6C6C6] bg-transparent p-2;
  }

  .ProseMirror:focus {
    @apply border-none outline outline-[#186EC8];
  }

  .ProseMirror:error {
    @apply bg-red-400;
  }

  .ProseMirror > * + * {
    margin-top: 0.75em;
  }

  .ProseMirror ul,
  .ProseMirror ol {
    padding: 0 2rem;
  }

  .ProseMirror h1,
  .ProseMirror h2,
  .ProseMirror h3,
  .ProseMirror h4,
  .ProseMirror h5,
  .ProseMirror h6 {
    line-height: 1.1;
  }

  .ProseMirror h2 {
    font-size: '18px';
  }

  .ProseMirror h3 {
    font-size: '16px';
  }

  .ProseMirror code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  .ProseMirror pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
  }
  .ProseMirror code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
  }

  .ProseMirror img {
    max-width: 100%;
    height: auto;
  }

  .ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 2px solid #e5e7eb;
  }

  .ProseMirror hr {
    @apply my-2 rounded-full border border-gray-200;
  }

  /* ............................ */
  .textEditor {
    border-radius: 15px;
  }

  .menuBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* .menuBar button {
    font-size: 18px;
    outline: none;
    border: none;
    background: none;
    color: rgb(70, 70, 70);
    cursor: pointer;
  }
  .menuBar button:last-child {
    margin-right: 7px;
  } */

  .menuBar button {
    @apply cursor-pointer p-1 text-base;
  }

  .menuBar button.is_active {
    @apply bg-light-blue rounded-lg p-1 font-bold;
  }

  .textEditor ul {
    @apply list-disc;
  }

  .textEditor ol {
    @apply list-decimal;
  }

  .my-config {
    --darkmode: 0;
    --h-accent: 223;
    --s-accent: 100%;
    --l-accent: 61%;
  }
}
